@import '../Styles/Variables.scss';

.about {
    display: flex;
    gap: 10%;
    background-color: $light-bg;
    padding: 0 3rem;


    .about-image-container {
        background: $highlight;
        margin-top: 2rem;
        border: none;
        border-radius: 15px 15px 0 0;
        width: 40%;

        img {
            height: auto;
            max-width: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }

    .about-content {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        h1{
            color: $text-white;
            font-family: $text-font;
            letter-spacing: .4rem;
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: -.5rem;

            span {
                color: $highlight;
            }
        }

        p{
            color: $text-white;
            font-family: $text-font;
            font-size: 20px;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 650px) {
    .about {
        flex-direction: column;
        gap: 2rem;
        padding: 0 1rem;

        .about-image-container {
            display: none;
        }
        .about-content {
            width: 100%;
            
            h1{
                text-align: center;
            }
        }
    }
}