@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.contact-header h3 {
  color: #F0F5F2;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.contact-header p {
  color: #F0F5F2;
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 650px) {
  .contact-header p {
    text-align: justify;
    font-size: 1.1rem;
  }
}