@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.contact-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2%;
}

@media screen and (max-width: 650px) {
  .contact-details {
    flex-direction: column;
  }
}