@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.contact-right {
  width: 49%;
  margin-left: 2rem;
}

@media screen and (max-width: 650px) {
  .contact-right {
    width: 100%;
    margin-left: 0;
  }
}