@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.contacts {
  background-color: #07111f;
  padding: 3rem;
}

@media screen and (max-width: 650px) {
  .contacts {
    padding: 1rem;
  }
}