@import '../Styles/Variables.scss';

.contact-header {

    h3{
        color: $text-white;
        text-align: center;
        font-family: $text-font;
        font-size: 2rem;
        margin-bottom: 2rem;

        span {
            color: $highlight;
        }
    }

    .right-details{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: rgba($text-white, 0.5);
            font-family: $text-font;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 300;
        }

        p{
            color: rgba($highlight, 0.5);
            font-family: $text-font;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 600;
            word-spacing: 1rem;
            letter-spacing: .1rem;
        }
    }
}

@media screen and (max-width: 650px) {
    .contact-header {
    
        p{
            text-align: justify;
            font-size: 1.1rem;
        }
    }
}