@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.footer-links {
  margin: 1.2rem 1rem;
  display: flex;
  justify-content: space-evenly;
}
.footer-links a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #101525;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.footer-links a:hover {
  color: rgba(16, 21, 37, 0.8);
}
.footer-links .footer-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links .footer-skills .footer-specific-skills ul li {
  list-style-type: circle;
  font-weight: 400;
  color: rgba(7, 17, 31, 0.9);
}
.footer-links .footer-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links .footer-projects .footer-specific-projects ul li {
  list-style-type: circle;
  font-weight: 400;
  color: rgba(7, 17, 31, 0.9);
}

@media screen and (max-width: 650px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}