@import '../Styles/Variables.scss';

form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;

    input {
        display: block;
        outline: none;
        border: none;
        width: 60%;
        border-radius: 20px;
        padding: 10px;
        font-family: $text-font;
        color: rgba(0,0,0, 0.8);
        font-size: 18px;
    }

    textarea {
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 10px;
        font-family: $text-font;
        font-size: 18px;
        color: rgba(0,0,0,0.8);
    }

    ::placeholder {
        font-family: $text-font;
        color: rgba(0,0,0,0.8);
        font-size: 18px;
        text-transform: capitalize;
    }

    .submit-form {
        width: -moz-fit-content;
        width: fit-content;
        padding: 8px 12px;
        font-size: 20px;
        background-color: rgba($header-hero-bg, .7);
        border: none;
        outline: none;
        color: rgba($text-white, 0.3);
        box-shadow: 0 0 2px rgba($text-white, 0.5);
        border-radius: 5px;
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    .errorMessage {
        color: rgb(226, 23, 23);
        font-size: 12px;
        margin-top: -1rem;
        display: none;
    }

    .successMessage {
        color: rgb(2, 109, 2);
        font-size: 12px;
        margin-top: -1rem;
        display: none;
    }

    .submit-form:hover {
        background-color: rgba($light-bg, 0.8);
        box-shadow: 0px 0px 3px rgba($text-white, 0.6);
    }
}

@media screen and (max-width: 650px) {

    form {
            
        input {
            width: 100%;
        }

        .submit-form {
            display: block;
            margin: 0 auto;
        }
    }

}