@import '../Styles/Variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $header-hero-bg;
    padding: 0 3rem;
    flex-wrap: wrap;
}