@import '../Styles/Variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $header-hero-bg;
    padding: 0 3rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 650px) {s
    .header {
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        padding: 0;
    }
}