@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  padding: 0 3rem;
  min-height: calc(100vh - 100px);
  background-color: #07111f;
  position: relative;
}
.hero-container .hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-container .hero-left h1 {
  color: #F0F5F2;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 500;
}
.hero-container .hero-left h1 span {
  color: #50D484;
}
.hero-container .hero-left h1 span:nth-of-type(1) {
  font-weight: 400;
}
.hero-container .hero-left h1 span:nth-of-type(2) {
  display: block;
  font-weight: 600;
  padding-top: 1.5rem;
}
.hero-container .hero-left h3 {
  color: #F0F5F2;
  font-size: 20px;
  letter-spacing: 0.2rem;
}
.hero-container .hero-left p {
  color: #F0F5F2;
  font-size: 18px;
}
.hero-container .hero-left .hero-left-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-container .hero-left .hero-left-buttons .button-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}
.hero-container .hero-left .hero-left-buttons .button-div .hero-btn {
  width: 120px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #F0F5F2;
  background-color: #50D484;
  box-shadow: 5px 10px 5px rgba(80, 212, 132, 0.4);
  padding: 5px 0;
  font-size: 22px;
  cursor: pointer;
}
.hero-container .hero-left .hero-left-buttons .button-div .hero-btn a {
  text-decoration: none;
  color: #F0F5F2;
}
.hero-container .hero-left .hero-left-buttons .button-div .hero-btn:nth-of-type(2) a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero-container .hero-left .hero-left-buttons .icons-div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.hero-container .hero-left .hero-left-buttons .icons-div p {
  text-transform: capitalize;
  color: #F0F5F2;
}
.hero-container .hero-left .hero-left-buttons .icons-div .icons-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.hero-container .hero-left .hero-left-buttons .icons-div .icons-container a {
  text-decoration: none;
}
.hero-container .hero-left .hero-left-buttons .icons-div .icons-container a .social-icons {
  font-size: 30px;
  transition: 0.3s ease-in-out;
}
.hero-container .hero-left .hero-left-buttons .icons-div .icons-container a .social-icons:hover {
  transform: translateY(-5px);
}
.hero-container .hero-left .hero-left-buttons .icons-div .icons-container a:nth-of-type(1) .social-icons {
  color: black;
}
.hero-container .hero-left .hero-left-buttons .icons-div .icons-container a:nth-of-type(2) .social-icons {
  color: rgb(51, 47, 245);
}
.hero-container .hero-left .hero-left-buttons .icons-div .icons-container a:nth-of-type(3) .social-icons {
  color: rgba(46, 43, 241, 0.911);
}
.hero-container .hero-left .hero-left-buttons .icons-div .icons-container a:nth-of-type(4) .social-icons {
  color: rgba(149, 7, 161, 0.911);
}
.hero-container .hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container .hero-right .image-container {
  border: none;
  border-radius: 100%;
  max-height: 25rem;
  max-width: 25rem;
  margin-top: -3rem;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: #50D484;
  box-shadow: -8px 10px 30px rgba(80, 212, 132, 0.4), 8px 10px 30px rgba(80, 212, 132, 0.4);
}
.hero-container .hero-right .image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  display: block;
}
.hero-container .hero-right .overlay {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: absolute;
}
.hero-container .hero-right .one {
  top: 300px;
  left: 250px;
  background: rgba(80, 212, 132, 0.4);
}

@media screen and (max-width: 650px) {
  .hero-container {
    grid-template-columns: 1fr;
    gap: 3.5rem;
    padding: 0 1rem;
  }
  .hero-container .hero-left h1, .hero-container .hero-left h3 {
    text-align: center;
  }
  .hero-container .hero-left p {
    text-align: justify;
  }
  .hero-container .hero-left .icons-div {
    display: flex;
    align-items: center;
    gap: 0;
    margin-top: 0;
    flex-direction: column;
  }
  .hero-container .hero-left .icons-div .icons-container {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
  }
}