@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.navbar {
  height: inherit;
  display: flex;
  align-items: center;
}
.navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  list-style: none;
  display: inline-flex;
  margin-left: 30px;
}
.navbar ul li a {
  text-decoration: none;
  color: #F0F5F2;
  font-size: 20px;
  transition: 0.5s ease-in-out;
}
.navbar ul li a.active {
  color: #50D484;
}
.navbar ul li a:hover {
  color: #50D484;
  transform: scale(1.2);
}