@import '../Styles/Variables.scss';

.project-details-container {
    padding: 0 3rem 2rem;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    .project-container {
        padding: 1rem;
        border-radius: 1em;
        //box-shadow: 0 0 30px rgba(0,0,0,0.4);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 500;
        transition: .5s ease-in-out;

        .image-container {
            max-width: 100%;
            width: 100%;
            margin-top: 0;

            img {
                display: block;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1em;
                aspect-ratio: 1/1;
            }
        }

        .project-details {

            h3 {
                text-align: center;
                color: rgba($text-white, 0.5);
                font-family: $text-font;
            }

            .project-links {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                a{
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-size: 1.2rem;
                    color: $highlight;
                    transition: 0.5s ease-in-out;
                }

                a:hover {
                    text-decoration: underline;
                }

                .github-link > span {
                    margin-left: .5rem;
                }

                .live-link > span {
                    margin-right: .5rem;
                }
            }
        }

        .tech-stack {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .btn {
                background-color: $light-bg;
                width: -moz-fit-content;
                width: fit-content;
                padding: .2rem .4rem;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0px 4px rgba(0,0,0,0.9);
                color: rgba($text-white, 0.7);
                margin-top: 1rem;
            }
        }
    }

    .project-container:hover {
        background-color: rgba($light-bg, 0.7);
        box-shadow: 0 0 30px rgba(0,0,0,0.8);
        transform: scale(1.02);
    }
}