@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.projects-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.projects-header-container .projects-title {
  color: #F0F5F2;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
.projects-header-container .projects-intro {
  color: #F0F5F2;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -1.5rem;
}