@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.project-details-container {
  padding: 0 3rem 2rem;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.project-details-container .project-container {
  padding: 1rem;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500;
  transition: 0.5s ease-in-out;
}
.project-details-container .project-container .image-container {
  max-width: 100%;
  width: 100%;
  margin-top: 0;
}
.project-details-container .project-container .image-container img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
  aspect-ratio: 1/1;
}
.project-details-container .project-container .project-details h3 {
  text-align: center;
  color: rgba(240, 245, 242, 0.5);
  font-family: "Poppins", sans-serif;
}
.project-details-container .project-container .project-details .project-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.project-details-container .project-container .project-details .project-links a {
  text-decoration: none;
  font-size: 1.2rem;
  font-size: 1.2rem;
  color: #50D484;
  transition: 0.5s ease-in-out;
}
.project-details-container .project-container .project-details .project-links a:hover {
  text-decoration: underline;
}
.project-details-container .project-container .project-details .project-links .github-link > span {
  margin-left: 0.5rem;
}
.project-details-container .project-container .project-details .project-links .live-link > span {
  margin-right: 0.5rem;
}
.project-details-container .project-container .tech-stack {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.project-details-container .project-container .tech-stack .btn {
  background-color: #101525;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
  color: rgba(240, 245, 242, 0.7);
  margin-top: 1rem;
}
.project-details-container .project-container:hover {
  background-color: rgba(16, 21, 37, 0.7);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  transform: scale(1.02);
}