@import '../Styles/Variables.scss';

.projects-container {
    padding: 2rem 3rem;
    background-color: $light-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .projects-container {
        padding: 1rem;
    }
}