@import '../Styles/Variables.scss';

.skills-details {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .skills-title {
        color: $text-white;
        font-family: $text-font;
        font-size: 2rem;
        margin-bottom: 2.5rem;

       span {
            color: $highlight;
        }
    }

    p {
        color: $text-white;
        font-family: $text-font;
        text-align: center;
        font-size: 1.3rem;
        margin-top: -2rem;

    }
}

@media screen and (max-width: 650px) {
    .skills-details {
        padding: 0 1rem;
    
        .skills-title {
            font-size: 1.5rem;
        }
    
        .skills-details {
            text-align: justify;
            font-size: 1.1rem;
            margin-top: 1rem;
        }
    }
}