@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.skills-details {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills-details .skills-title {
  color: #F0F5F2;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
.skills-details .skills-details {
  color: #F0F5F2;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -2rem;
}

@media screen and (max-width: 650px) {
  .skills-details {
    padding: 0 1rem;
  }
  .skills-details .skills-title {
    font-size: 1.5rem;
  }
  .skills-details .skills-details {
    text-align: justify;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}