@import '../Styles/Variables.scss';

.skills-icon-container{
    padding: 0 3rem;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .icon-container {
        padding: 5em 3rem;
        border-radius: 1em;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            color: rgba($text-white, 0.7);
            font-size: 5rem;
        }

        .icon-details{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: rgba($text-white, 0.1);
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            transition: 0.5s ease-in-out;

            .icon-title {
                color:rgba($text-white, 0.7);
                text-align: center;
            }

            .skill-experience {
                display: block;
                height: 1rem;
                width: 90%;
                background-color: rgba($header-hero-bg, 0.7);
                border-radius: 3em;
                box-shadow: 8px 8px 20px rgba(0,0,0,0.4);

                .skill-rating {
                    height: inherit;
                    width: 95%;
                    background-color: rgba($text-white, 0.4);
                    border-radius: inherit;
                }
            }
        }

        .icon-details:hover .icon-details{
            left: 0;
        }
    }

}