@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

//colors
$header-hero-bg: #07111f;
$light-bg: #101525;
$highlight: #50D484;
$text-white: #F0F5F2;

//fonts
$logo-head: 'Dancing Script', cursive;
$text-font: 'Poppins', sans-serif;